.popup__btn-close{
    padding: 0;
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    border: none;
    background: none;
    cursor: pointer;
}
.popup__btn-close:hover{
    opacity: 0.6;
}
@media screen and (max-width: 440px){    
.popup__btn-close{
    right: -6px;   
}}