.profile__change-name{    
    padding: 0;
    border: none;

    width: 24px;
    height: 24px;
    
    background-color: inherit;
    cursor: pointer;
    transition: .6s ease;
}
.profile__change-name:hover{
    opacity: 0.6;    
}