.profile__info{   
    margin-block: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}
@media screen and (max-width: 1000px){  
.profile__info{
    font-size: 16px;
    line-height: 14px;
    max-width: 240px;
}}
@media screen and (max-width: 440px){ 
.profile__info{
    font-size: 14px;
    line-height: 17px;
    max-width: 190px;
}}
