.profile__name-box{
    max-width: 500px;
    padding-left: 30px;

    display: grid;
    grid-template-columns: minmax(max-content, 1fr) 1fr;
    gap: 5px 18px;
    
    justify-items: start;
    align-items: baseline;
}
@media screen and (max-width: 1000px){
.profile__name-box{
    padding: 26px 0 34px 48px;
    gap: 7px 0;
    justify-items: center;
}
}
@media screen and (max-width: 440px){       
.profile__name-box{
    padding: 26px 0 34px 48px;
    justify-items: center;
}}