.popup__form-input{
    padding: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;

    position: relative;
}