.elements__pic{
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    cursor: pointer;
    display: block;
    background-color: black;
          
}
/*.elements__pic:hover{
    opacity: 0.8;
    scale: 1.1;   transition: .8s ease; 
}*/