.elements__grid{
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;

    list-style: none;
    margin-block: 0;
    padding-inline: 0;

    display: grid;
    justify-content: center;
}