.popup__form{
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    width: 358px;
}

@media screen and (max-width: 680px){    
.popup__form {
    padding-top: 70px;
    width: auto;
}}