.elements__like{
    background-image: url(../../../images/serdce.svg);
    background-color: white;
    background-repeat: no-repeat;
    min-width: 22px;
    height: 19px;
    border: none;
    cursor: pointer;
    transition: .6s ease;
}
.elements__like:hover{
    opacity: 0.5;    
}