.popup__help{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FF0000;

    opacity: 0;
    visibility: hidden;

    height: 30px;
    position: absolute;
    display: flex;
    align-items: center;
}
.popup__help:last-child{
    top: 90px;
}